/* ########## Default width ##########*/

/* ---------- Utilities ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* ----- Color scheme ----- */
    
    --primary-color: white;
    --secondary-color: black;
    --menu-hover-color: rgba(255, 255, 255, 0.8);
    --button-background-color: rgba(255, 255, 255, 0.9);
    --button-hover-color: rgba(0, 0, 0, 0.6);
    --text-color: var(--primary-color);
    --button-text-color: var(--secondary-color);
    --form-background-color: rgba(0, 0, 0, 0.6);
    --background-gradient-start: rgb(100, 100, 100);
    --background-image-gradient-color: rgba(79, 115, 112, 0.2);
    --background-gradient: linear-gradient( 170deg, 
                                            var(--background-gradient-start) 0%, 
                                            var(--secondary-color) 8%,
                                            var(--secondary-color) 93%, 
                                            var(--background-gradient-start) 100%);
    --background-image-gradient:    radial-gradient( 
                                        var(--background-image-gradient-color) 90%, 
                                        var(--secondary-color));
}

html {
    scrollbar-width: none;
}

body {
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: var(--background-gradient);
    padding: 0px 5px;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
    width: 0 !important;
}

li {
    list-style: none;
}

/* ---------- Header and Navigation  ---------- */

/* Navbar */
header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: var(--primary-color);
    width: 100%;
    min-height: 10vh;
    gap: 1em;
}

/* Logo */
#headerLogo {
    max-height: 60px
}

#headerLogo:hover{
    cursor: pointer;
}

/* Menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: white;
    background-color: transparent;
    font-size: 1.3rem;
}

.menu li:hover {
    cursor: pointer;
    background-color: var(--menu-hover-color);
    color: var(--secondary-color);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Checkbox */
#checkbox_toggle {
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}

/* ---------- Main  ---------- */
main {
    --main-min-height: 80vh;
    min-height: var(--main-min-height);
    color: var(--primary-color);
}

/* ---------- Footer ----------*/
footer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: var(--primary-color);
    min-height: 10vh;
}

#footerLogo {
    height: 4vh;
}

#footerLogo:hover {
    cursor: pointer;
}

#instagramLogo {
    height: 30px;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    gap: 0.9em;
    align-items: center;
    font-size: 1.1rem;
}

/* ---------- Content ----------*/
.background {
    min-height: var(--main-min-height);
    position: relative;
    box-shadow: 0px 0px 2px 2px var(--secondary-color);
}

.background::before {
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    --blur: 2px;
    filter: blur(var(--blur));
    -webkit-filter: blur(var(--blur));
}

#homeJoinBackground::before {
    background-image: url("../img/AndiDiscGolfWurf.jpg");
}

#joinFormBackground::before {
    background-image: url("../img/AndiPutSonne.JPG");
}

#joinConditionsBackground::before {
    background-image: url("../img/SalomePut.JPG");
}

#contactBackground::before {
    background-image: url("../img/DaniPuttSonne.JPG");
}

#courseBackground::before {
    background-image: url("../img/AndiVorhand.JPG");
}

.backgroundOverlay {
    min-height: var(--main-min-height);
    width: 100%;
    background-image: var(--background-image-gradient);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    box-shadow: 0px 0px 16px 16px rgba(0, 0, 0, 0.5) inset;
}

.foreground {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 70vw;
}

.foregroundText {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    text-shadow: 3px 3px 8px var(--secondary-color);
}

.foregroundTitle {
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.3;
}

.foregroundButtonArea {
    display: flex;
}

.foregroundCallToActionButton {
    background-color: var(--button-background-color);
    border-radius: 5px;
    border: none;
    color: var(--button-text-color);
    padding: 16px 32px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;
}
  
.foregroundCallToActionButton:hover {
    background-color: var(--button-hover-color);
    color: var(--primary-color);
}

#priceTable {
    background-color: var(--form-background-color);
    border-radius: 10px;
    padding: 20px 0px;
    text-align: left;
    border-spacing: 50px 5px;
}

#priceTable h2 {
    text-align: center;
    margin-bottom: 20px;
}

.divider {
    height: 20px;
}

.applicationForm {
    display: flex;
    flex-direction: column;
    background-color: var(--form-background-color);
    border-radius: 10px;
    padding: 20px;
    gap: 1em;
    width: 50vw;
    max-width: 600px;
}

.applicationForm label {
    font-size: 1.2rem;
}

.labelCheckboxCombo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.labelCheckboxCombo label {
    font-size: 1.1rem;
    width: 85%;
}

#joinFormButton {
    width: fit-content;
    margin-top: 30px;
}

#joinFromMessage {
    margin-bottom: 15px;
}

.joinFormInput {
    min-height: 40px;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
}

#joinFormConsent,
#joinFormPassive,
#joinFormActive,
#joinFormGoenner  {
    min-height: 0;
    height: 20px;
    width: 5%;
}

#joinFormConsentCombo {
    margin-top: 30px;
}

#joinFormConsentCombo label {
    font-size: 0.9rem;
}

#writeUsButton {
    font-size: 1.2rem;
}

#udiscIFrame {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0px 0px 50px var(--primary-color);
    min-height: 500px;
    margin: 10px;
}

.temp {
    text-align: center;
    margin: 20px;
}

/* ########## 768px width ########## */
@media (max-width: 768px) {
    /* ---------- Header and Navigation  ---------- */

    /* Navbar */
    header {
        flex-wrap: wrap;
        gap: 1em;
        min-height: 16vh;
    } 

    main {
        --main-min-height: 74vh;
    }

    #headerLogo {
        width: 100%;
    }

    /* Menu */
    .menu {
        display: none;
        flex-direction: column;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        flex-basis: 100%;
    }

    .menu li:hover {
        display: inline-block;
    }

    .menu li + li {
        margin-top: 12px;
    }

    /* Checkbox */
    input[type=checkbox]:checked ~ .menu {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    /* ---------- Footer ----------*/
    footer {
        flex-wrap: wrap;
        gap: 1em;
    }

    /* ---------- Join Form ----------*/
    .applicationForm {
        width: 70vw;
    }
}

/* ########## 370px width ##########*/
@media (max-width: 480px) {
    /* ---------- Header and Navigation  ---------- */
    .menu {
        text-align: center;
    }

    /* ---------- Main ---------- */
    main {
        --main-min-height: 67vh;
    }

    /* ---------- Footer ----------*/
    footer {
        min-height: 17vh;
    }

    #footerLogo {
        width: 100%;
    }

    #instagramLogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* ---------- Join Form ----------*/
    .applicationForm {
        width: 80vw;
    }

    #priceTable {
        font-size: 0.9rem;
        border-spacing: 20px 5px;
    }

    .foregroundText h1 {
        font-size: 3rem;
    }
}

/* ########## Dark mode ########## */
/*@media (prefers-color-scheme: dark) {

}*/