/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

/* Navbar */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    color: #fff;
}

/* Logo */
.logo {
    height: 60px;
}

.logo:hover{
    cursor: pointer;
}

/* Menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: white;
    background-color:black;
}

.menu li:hover {
    cursor: pointer;
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* Checkbox */
input[type=checkbox] {
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Navbar */
    .navbar {
        flex-wrap: wrap;
    }

    /* Menu */
    .menu {
        display: none;
        flex-direction: column;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        flex-basis: 100%;
    }

    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    /* Checkbox */
    input[type=checkbox]:checked ~ .menu {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 370px) {
    .logo {
        width: 100%;
    }

    .menu {
        text-align: center;
    }
}