/* ########## Default width ##########*/

/* ---------- Utilities ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

/* ---------- Header and Navigation  ---------- */

/* Navbar */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    color: white;
}

/* Logo */
#headerLogo {
    height: 60px;
}

#headerLogo:hover{
    cursor: pointer;
}

/* Menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: white;
    background-color:black;
}

.menu li:hover {
    cursor: pointer;
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Checkbox */
input[type=checkbox] {
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* ---------- Main  ---------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 1em;
}

/* ---------- Footer ----------*/
footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    color: white;
}

#footerLogo {
    height: 50px;
}

#footerLogo:hover {
    cursor: pointer;
}

#instagramLogo{
    height: 30px;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    gap: 0.9em;
    align-items: center;
}

/* ########## 768px width ########## */
@media (max-width: 768px) {
    /* ---------- Header and Navigation  ---------- */
    /* Navbar */
    .navbar {
        flex-wrap: wrap;
        gap: 1em;
    }

    /* Menu */
    .menu {
        display: none;
        flex-direction: column;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        flex-basis: 100%;
    }

    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    /* Checkbox */
    input[type=checkbox]:checked ~ .menu {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    /* ---------- Footer ----------*/
    footer {
        flex-wrap: wrap;
        gap: 1em;
    }
}

/* ########## 370px width ##########*/
@media (max-width: 370px) {
    /* ---------- Header and Navigation  ---------- */
    #headerLogo {
        width: 100%;
    }

    .menu {
        text-align: center;
    }

    /* ---------- Footer ----------*/
    #footerLogo {
        width: 100%;
    }

    #instagramLogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    #instagramLogo p{
        font-size: 7vw;
    }

}

/* ########## Dark mode ########## */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #323232;
		color: white;
	}
}